{
    "source": {
        "directories": [
            "src"
        ]
    },
    "testFrameworkOptions": "--testsuite=unit",
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "master"
        }
    }
}
